<!DOCTYPE html>
<html>

    <head>
        <title>Alert</title>
        <!--#include virtual="header.inc" -->
    </head>

    <body>
        <div data-role="page" id="alert_dialog">
        <div data-role="header">
            <h1>Alerta</h1>
        </div>
        <div data-role="content">
            <p id="alert_body">alert body</p>
            <a href="#" id="btn_acept_alert" data-role="button" data-rel="back">Aceptar</a>        
        </div>
    </div>
    </body>
</html>