#grupos {
    width: 45%;
    float: left;
}

#proyectos {
    width: 45%;
    float: left;
}

#contenido-derecha {
    padding-left: 20px;
    height: 500px;
    width: 50%;
    float: left;
}

.div-oscuro {
    overflow: hidden;
    color: #666666;
    width: 80%;
    height: 90px;
    margin: 20px auto 40px auto;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 0 #AAA;
    -moz-box-shadow: 0 1px 0 #aaa;
    box-shadow: 0 1px 0 #AAA;
    background-image: -webkit-linear-gradient(top, #F5F3F3, #E0E0E0);
    background-image: -moz-linear-gradient(top, #F5F3F3, #E0E0E0);
    background-image: -ms-linear-gradient(top, #F5F3F3, #E0E0E0);
    background-image: -o-linear-gradient(top, #F5F3F3, #E0E0E0);
    background-image: linear-gradient(top, #F5F3F3, #E0E0E0);
    filter: alpha(opacity = 100);
    opacity: 1;
    border: 1px solid #DDD;
    padding: 4px;
    position: relative;
}

input[type="text"] {
    height: 40px;
}

.icon-div-grande {
    float: left;
    margin: 22px 22px 40px 22px;
    display: block
}

.nombre-grande {
    font-size: 20px;
    float: left;
    margin-top: 14px;
    color: black;
}

#grupos .lista-grupos {
    max-height: 700px;
    overflow-y: auto;
}

#grupos .un-grupo {
    overflow: hidden;
    color: #666666;
    width: 80%;
    height: 90px;
    margin: 40px auto 40px auto;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 0 #AAA;
    -moz-box-shadow: 0 1px 0 #aaa;
    box-shadow: 0 1px 0 #AAA;
    background-color: #F4F4F4;
    background-image: -webkit-linear-gradient(top, white, #F4F4F4);
    background-image: -moz-linear-gradient(top, white, #F4F4F4);
    background-image: -ms-linear-gradient(top, white, #F4F4F4);
    background-image: -o-linear-gradient(top, white, #F4F4F4);
    background-image: linear-gradient(top, white, #F4F4F4);
    filter: alpha(opacity = 100);
    opacity: 1;
    border: 1px solid #DDD;
    padding: 4px;
    position: relative;
    text-align: left;
}

#grupos .un-grupo .nombre-grupo {
    float: left;
    padding-top: 10px;
    max-width: 70%;
}

#grupos .un-grupo .nombre {
    font-size: 1.5em;
    margin: 0;
    display: inline-block;
}

#grupos .un-grupo .plus1 {
    display: none;
    position: absolute;
    top: 34px;
    right: 14px;
}

#grupos .un-grupo .mensaje {
    position: absolute;
    right: 16px;
    top: 31px;
    display: none;
}

#grupos .un-grupo .mensaje p {
    color: red;
}

#grupos .un-grupo .descripcion {
    font-style: italic;
    font-size: 0.9em;
}

#grupos .boton-crear {
    width: 80%;
    margin: 10px auto 10px auto;
    height: 70px;
}

#grupos .un-grupo .icon {
    margin: 22px 22px 40px 22px;
    float: left;
    display: block;
}

#contenido-derecha .lupa {
    float: left;
    margin: 12px 0px 0px 14px;
}

#contenido-derecha .listado {
    clear: both;
}

#contenido-derecha label {
    margin: 20px 0 20px 0;
    font-size: 1.5em;
}

#contenido-derecha .form-busqueda {
    margin-top: 20px;
}

#contenido-derecha li {
    cursor: pointer;
    font-size: 1em;
    padding: 18px 0 18px 0;
}

#nombre {
    height: 40px;
    margin-bottom: 30px;
    font-size: 1.4em;
    color: gray;
    width: 80%;
    float: left;
}

.over {
    border: 2px dashed #000 !important;
}

.form-submits input[type="submit"] {
    display: inline-block;
    width: 40%;
    margin: 0 10px 0 10px;
}

#contenido-derecha .editado-bien {
    display: none;
}

#contenido-derecha .agregado-bien {
    display: none;
}

#contenido-derecha .eliminado-bien {
    display: none;
}

#contenido-derecha .abandonado-bien {
    display: none;
}
/*********/
#tabyreu{
    border:solid 2px #ccc;
    padding:8px;
    border-radius:8px;
}
#opMostrar{
    overflow:hidden; 
             
}
#Kmostrar{
    border:solid 2px #ccc;
    padding:8px;
}
#Kmostrar li{
    list-style-type:none;
}
#Kmostrar li a{
    text-decoration:none;
}