html {
    background-color: #2d6987;
    font: 14px/18px "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: rgb(102, 102, 102);
}

body {
    margin: 0;
}

#body {
    bottom: 176px;
    min-width: 990px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 600px;
}

p {
    margin: 0;
}

#header {
    width: 100%;
    height: 102px;
    background-color: #2d6987;
    top: -20px;
    position: relative;
}

#cuerpo {
    border-top: 0;
    clear: both;
    min-height: 100%;
    min-width: 960px;
    position: relative;
    width: 100%;
    background-color: #2d6987;
    top: -20px;
}

#contentPane {
    min-height: 400px;
    bottom: 0;
    top: 0;
    margin: 0 25px 0 100px;
    width: auto;
    position: relative;
}

#contenido {
    display: block;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 20px 20px;
}

.marco-arriba .esquina-izq {
    left: -1px;
    height: 10px;
    overflow: hidden;
    position: absolute;
    width: 10px;
}

.marco-arriba .esquina-der {
    display: block;
    right: -1px;
    height: 10px;
    overflow: hidden;
    position: absolute;
    width: 10px;
}

.UDa {
    -webkit-border-radius: 10px 0 0 0;
    -moz-border-radius: 10px 0 0 0;
    border-radius: 20px 0 0 0;
    border-left: 6px solid #2D6987;
    left: -6px;
}

.XDa {
    -webkit-border-radius: 0 10px 0 0;
    -moz-border-radius: 0 10px 0 0;
    border-radius: 0 20px 0 0;
    border-right: 6px solid #2D6987;
    right: -5px;
}

.UDa, .XDa {
    position: absolute;
    top: -6px;
    border-top: 6px solid #2D6987;
    width: 12px;
    height: 12px;
}

.TDa {
    -webkit-border-radius: 10px 0 0 0;
    -moz-border-radius: 10px 0 0 0;
    border-radius: 20px 0 0 0;
    border-left: 1px solid gray;
}

.WDa {
    -webkit-border-radius: 0 10px 0 0;
    -moz-border-radius: 0 10px 0 0;
    border-radius: 0 20px 0 0;
    border-right: 1px solid gray;
    right: 1px;
}

.TDa, .WDa {
    position: absolute;
    top: 0;
    border-top: 1px solid gray;
    width: 12px;
    height: 12px;
}

#contentPane .sombra {
    -webkit-mask-box-image: -webkit-linear-gradient(left, transparent 0%, rgba(0, 0, 0, .8) 50%, transparent 100%);
    background-color: transparent;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .2), transparent);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .2), transparent);
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, .2), transparent);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, .2), transparent);
    background-image: linear-gradient(top, rgba(0, 0, 0, .2), transparent);
    right: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    height: 8px;
    left: 100px;
    margin: -1px 0 -9px 0;
    opacity: 0;
    z-index: 11;
}

#contentPane .marco-arriba {
    right: 25px;
    left: 101px;
    border-bottom: 1px solid gray;
    margin: -1px 0 0;
    z-index: 984;
}

#footer {
    text-align: center;
    padding: 15px 0;
    margin: 0 0 0 100px;
}

#footer .marca {
    padding: 15px 0;
    color: #f5f5f5;
}

#columna .contentPane {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#dock .triangulo {
    position: absolute;
    width: 10px;
    height: 15px;
    right: -2px;
    top: 47px;
    background: no-repeat url("../img/triangulo.png");
    z-index: 100;
}

#columna .sub {
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#columna a {
    text-decoration: none;
    color: #f5f5f5;
}

#columna .icono {
    height: 32px;
    width: 32px;
    margin: 0 auto 0 auto;
}

#columna {
    color: #f5f5f5;
    font: normal 13px arial, sans-serif;
}

#columna .home {
    background: no-repeat url("../img/dock/home.png");
}

#columna .groups {
    background: no-repeat url("../img/dock/groups.png");
}

#columna .projects {
    background: no-repeat url("../img/dock/projects.png");
}

#columna .account {
    background: no-repeat url("../img/dock/account.png");
}

#columna .explore {
    background: no-repeat url("../img/dock/explore.png");
}

#more .icono {
    background: no-repeat url("../img/dock/more.png");
}

#more {
    display: none;
}

#marca {
    height: 80px;
    overflow: hidden;
    width: 420px;
    position: relative;
    top: 20px;
    margin: 20px 0 0 30px;
}

#dock {
    width: 100px;
    background-color: #2d6987;
    top: 0;
    position: absolute;
    bottom: auto;
}

#extra-option {
    position: absolute;
    display: none;
    left: 85px;
    z-index: 200;
    top: 414px;
    white-space: nowrap;
    color: rgb(102, 102, 102);
}

#extra-option .contentPane {
    padding-top: 20px;
    padding-bottom: 20px;
}

#extra-option a {
    color: #666;
}

#extra-option .options {
    background-color: #f5f5f5;
    border: 1px solid gray;
    margin-left: 8px;
    border-radius: 5px;
}

#extra-option .options .sub {
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#extra-option .option {
    color: #666;
    width: 100px;
    display: inline-block;
}

#extra-option .tri {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 47px;
    z-index: 200;
    background: no-repeat url("../img/triangulo.png");
}

@media only screen
and (min-height:600px) {
    #header {
        z-index: 30;
        position: fixed;
        width: 100%;
        height: 102px;
        background-color: #2d6987;
        top: 0;
    }

    #header-alt {
        height: 102px;
    }

    #contentPane .sombra {
        position: fixed;
    }

    #contentPane .marco-arriba {
        position: fixed;
    }

    #cuerpo {
        top: 0;
    }

    #marca {
        top: 0;
    }

    #dock {
        top: auto;
        position: fixed;
    }
}