<div id="Kboard">
    <div id="div-paquetes">
        <div class="titulo">
            Pila del Tablero
        </div>
    </div>
    <div id="kboardContent">
        <div id="Ktablero">

            <div class="Ktask">

                <h5>Nombre de columna</h5>

                <div draggable="true">
                    <button class="handTask"><img src="../../static/img/move-Task.png" alt=""></button>
                    <h6>titulo</h6>

                    <p>Descripcion</p>
                </div>
                <div draggable="true">
                    <button class="handTask"><img src="../../static/img/move-Task.png" alt=""></button>
                    <h6>titulo</h6>

                    <p>Descripcion</p>
                </div>


            </div>

            <div class="Ktask">
                <h5>Nombre de columna</h5>

                <div draggable="true">
                    <button class="handTask"><img src="../../static/img/move-Task.png" alt=""></button>
                    <h6>titulo</h6>

                    <p>Descripcion</p>
                </div>
            </div>

            <div class="Ktask">

                <h5>Nombre de columna</h5>

                <div draggable="true">
                    <button class="handTask"><img src="../../static/img/move-Task.png" alt=""></button>
                    <h6>titulo</h6>

                    <p>Descripcion</p>
                </div>
            </div>
        </div>
    </div>
</div>
