<div class="form-busqueda clearfix">
    <input type="text" id="nombre" placeholder="Ingrese un nombre para buscar...">
    <span class="icon medium lupa" data-icon="s"></span>
</div>
<div class="listado">
    <ul class="alt">
        {% for cliente in clients %}
            <li draggable="true" iduser='{{ cliente.user.id }}'>
                <span class="icon darkgray" data-icon="u" style="display: inline-block; "><span
                        aria-hidden="true">u</span></span>{{ cliente.user.get_full_name }}</li>
        {% endfor %}
    </ul>
</div>