<script type="text/javascript">
        $('#tableros').click(function(){
            $.ajax({
                method: 'GET',
                url: '/projects/tables/?project_id='+{{ project.id }},
                success:function(data){
                    $('#Kmostrar').html(data);
                }
            });
        });
        $('#reuniones').click(function(){
            $.ajax({
                method: 'GET',
                url: '/projects/reuniones/?project_id='+{{ project.id }},
                success:function(data){
                    $('#Kmostrar').html(data);
                }
            });
        });
</script>
<div id="form-crear-project">
    <form class="vertical" method="POST" action="/projects/create-project/">
        <input class="group-id" type="hidden" name="groupid" value="{{ project.id }}">
        <label>Nombre del proyecto</label>

        <div class="nombre-errors"></div>
        <input type="text" name="nombre" value="{{ project.name }}">
        <label>Compañia</label>

        <input type="text" name="company" value="{{ project.company}}">

        <div class="listado">
            <p>Personas en este proyecto</p>
            <ul class="alt">
                {% for cliente in clients %}
                    <li draggable="true" iduser='{{ cliente.user.id }}'>
                <span class="icon darkgray" data-icon="u" style="display: inline-block; "><span
                        aria-hidden="true">u</span></span>{{ cliente.user.get_full_name }}
                        <a>X</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="form-submits">
            <input class="guardar button green" type="submit" name="guardar" value="Guardar" id="guardar">
            <input class="eliminar button red" type="submit" name="eliminar" value="Eliminar" id="eliminar">
        </div>
    </form>
    <div id="tab_reu">
        <div id="opMostrar">
            <input type="submit" value="tableros" id="tableros"/>
            <input type="submit" value="reuniones" id="reuniones"/>
        </div>
        <div id="Kmostrar">

        </div>
    </div>
</div>

