{% extends ext %}
{% block contenido %}
    <div id="grupos">
        <div class="lista-grupos">
            <div class="crear-grupo clearfix">
                <span class="icon x-large black" data-icon="p"></span>

                <div class="nombre">
                    <p class="nombre">Crear Nuevo Grupo</p>
                </div>
            </div>
            {% for grupo in grupos %}
                <div class="un-grupo">
                    <input class="grupo-id" type="hidden" value="{{ grupo.group.id }}">
                    <span class="icon x-large darkgray" data-icon="U"></span>

                    <div class="nombre-grupo">
                        <p class="nombre">{{ grupo.group.name }}</p>

                        <p class="descripcion">{{ grupo.group.information }}</p>
                    </div>
                </div>
            {% endfor %}
            {% for grupo in grupos %}
                <div class="un-grupo">
                    <input class="grupo-id" type="hidden" value="{{ grupo.group.id }}">
                    <span class="icon x-large darkgray" data-icon="U"></span>

                    <div class="nombre-grupo">
                        <p class="nombre">{{ grupo.group.name }}</p>

                        <p class="descripcion">{{ grupo.group.information }}</p>
                    </div>
                </div>
            {% endfor %}
            {% for grupo in grupos %}
                <div class="un-grupo">
                    <input class="grupo-id" type="hidden" value="{{ grupo.group.id }}">
                    <span class="icon x-large darkgray" data-icon="U"></span>

                    <div class="nombre-grupo">
                        <p class="nombre">{{ grupo.group.name }}</p>

                        <p class="descripcion">{{ grupo.group.information }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="contenido-grupo">
        <div class="form-busqueda clearfix">
            <input type="text" id="nombre" placeholder="Ingrese un nombre para buscar...">
            <span class="icon medium lupa" data-icon="s"></span>
        </div>
        <div class="listado">
            <ul class="alt">
            </ul>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}