{% extends ext %}
{% block contenido %}
    <div id="Khome">
        <div id="shortMethods">

            <div class="clearFloat">
                <div class="KshortEnter">
                    <h5>Proyectos Recientes</h5>
                    <img src="../../static/img/proy.png" alt="">
                </div>
                <div class="KshortLinks" id="Kproy">
                    {% for proy in proyectos %}
                        <button><img src="../../static/img/tablero.png" alt="">{{ proy.name }}
                        </button>
                    {% endfor %}

                </div>
                <div class="mas">
                    <a href="/projects/">mas..</a>
                </div>
            </div>


            <div class="clearFloat">
                <div class="KshortEnter">
                    <h5>Grupos Recientes</h5">
                    <img src="../../static/img/group_link.png" alt="">
                </div>

                <div class="KshortLinks" id="Kgroup">
                    {% for grupo in grupos %}
                        <button><img src="../../static/img/group.png" alt="">{{ grupo.name }}</button>
                    {% endfor %}
                </div>

                <div class="mas">
                    <a href="/groups/">mas..</a>
                </div>
            </div>
        </div>

        <div id="record">

            <h3>Perfil</h3>

            <div class="recordDivision">
                <div class="Kseparador">
                    <h4>Ultimos movimientos</h4>
                    <ul>
                        <li><a href="">........</a></li>

                    </ul>
                </div>
            </div>
            <div class="recordDivision">
                <div class="Kseparador">
                    <div id="Kfoto">
                        <h6>Nombres:</h6>

                        <p><span>{{ user.get_full_name }}</span>
                        </p>
                    </div>
                    <div id="KperfilDescripcion">
                        <h6>Mis Datos:</h6>
                        <ul>
                            <li><h5>Username:</h5>

                                <p>{{ user.username }}</p></li>
                            <li><h5>correo:</h5>

                                <p>{{ user.email }}</p></li>
                        </ul>

                        <button class="blue">Editar Perfil</button>
                    </div>
                </div>
            </div>

        </div>


    </div>
{% endblock %}