{% extends ext %}
{% block contenido %}
    <div id="Khome">
        <div id="shortMethods">

            <div class="clearFloat">
                <div class="KshortEnter">
                    <h5>Proyectos Recientes</h5>
                    <img src="../../static/img/proy.png" alt="">
                </div>
                <div class="KshortLinks" id="Kproy">
                    {% for proy in proyectos %}
                        <div id="botonCont">
                        <button ><img src="../../static/img/group.png" alt="">{{ proy.name }}</button><a href=""><img src="../../static/img/tablero.png"
                                                                                                                      alt=""
                                                                                                                      style="margin:0.5em;"></a>
                        </div>
                    {% endfor %}

                </div>
                <div class="mas">
                   <a href="">mas..</a>
                </div>
            </div>


            <div class="clearFloat">
                <div class="KshortEnter">
                    <h5>Grupos Recientes</h5">
                    <img src="../../static/img/group_link.png" alt="">
                </div>

                <div class="KshortLinks"  id="Kgroup">
                    {% for grupo in grupos %}
                        <button >{{ grupo.name }}</button>
                    {% endfor %}
                </div>

                <div class="mas">
                    <a href="">mas..</a>
                </div>
            </div>


            <div class="clearFloat" id="ayuda">
                <div class="KshortEnter">
                    <h5><img src="../../static/img/logo.png" alt=""></span><button style="float:right;"><span class="icon x-large gray" data-icon="?"></span>Ayuda</button></h5>

                </div>
            </div>
        </div>

        <div id="record">

            <h3>Perfil</h3>

            <div class="recordDivision">
                <div class="Kseparador">
                    <h4>Ultimos movimientos</h4>
                    <ul>
                        <li><a href="">........</a></li>

                    </ul>
                </div>
            </div>
            <div class="recordDivision">
                <div class="Kseparador">
                    <div id="Kfoto">
                        <p><span>{{ user.first_name }}</span>
                            <img src="../../static/img/perfil.jpg" alt="">
                        </p>
                    </div>
                    <div id="KperfilDescripcion">
                        <h6>Mis Datos:</h6>
                        <ul>
                            <li><h5>Apellidos:</h5><p>{{ user.last_name }}</p></li>
                            <li><h5>Correo:</h5><p>{{ user.email }}</p></li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>


    </div>
{% endblock %}