<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Gestor EWM</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/layout.css">

    <link rel="stylesheet" type="text/css" href="../../static/css/home.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/board.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/kickstart.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/groups.css">
    <script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.transform-0.9.3.min.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.transit.min.js"></script>
    <script type="text/javascript" src="../../static/js/prettify.js"></script>
    <script type="text/javascript" src="../../static/js/kickstart.js"></script>
    <script type="text/javascript" src="../../static/js/jquery-ui-1.8.21.custom.min.js"></script>
    <script type="text/javascript" src="../../static/js/layout.js"></script>
    <script type="text/javascript" src="../../static/js/groups.js"></script>
    <script type="text/javascript" src="../../static/js/account.js"></script>
    <script type="text/javascript">
        var actual = '{{ actual }}';
    </script>
</head>
<body>
<div id="body">
    <div id="header">
        <div id="marca">
            <a>
                <!--Aqui va el logo de la aplicacion-->
                <img src="../../static/img/logo.png" style="height: 70px;">
            </a>
        </div>
        <div id="notificaciones"></div>
    </div>
    <div id="header-alt"></div>
    <div id="cuerpo">
        <div id="dock">
            <div id="columna">
                <div id="extra-option">
                    <div class="tri"></div>
                    <div class="options">
                        <div class="option" id="extra-home">
                            <div class="sub">
                                <a href="/home/">
                                    <div class="contentPane">
                                        <div class="home icono"></div>
                                        <div class="desc">Home</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="option" id="extra-projects" draggable="true">
                            <div class="sub">
                                <a href="/projects/">
                                    <div class="contentPane">
                                        <div class="projects icono"></div>
                                        <div class="desc">Projects</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="option" id="extra-account">
                            <div class="sub">
                                <a href="/account/">
                                    <div class="contentPane">
                                        <div class="account icono"></div>
                                        <div class="desc">Account</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="option" id="extra-groups">
                            <div class="sub">
                                <a href="/groups/">
                                    <div class="contentPane">
                                        <div class="groups icono"></div>
                                        <div class="desc">Groups</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="option" id="extra-explore">
                            <div class="sub">
                                <a href="/explore/">
                                    <div class="contentPane">
                                        <div class="explore icono"></div>
                                        <div class="desc">Explore</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="triangulo"></div>
                <div id="sub-dock">
                    <div class="option" id="home">
                        <div class="sub">
                            <a href="/home/">
                                <div class="contentPane">
                                    <div class="home icono"></div>
                                    <div class="desc">Home</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="option" id="projects">
                        <div class="sub">
                            <a href="/projects/">
                                <div class="contentPane">
                                    <div class="projects icono"></div>
                                    <div class="desc">Projects</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="option" id="account">
                        <div class="sub">
                            <a href="/account/">
                                <div class="contentPane">
                                    <div class="account icono"></div>
                                    <div class="desc">Account</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="option" id="groups">
                        <div class="sub">
                            <a href="/groups/">
                                <div class="contentPane">
                                    <div class="groups icono"></div>
                                    <div class="desc">Groups</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="option" id="explore">
                        <div class="sub">
                            <a href="/explore/">
                                <div class="contentPane">
                                    <div class="explore icono"></div>
                                    <div class="desc">Explore</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="option" id="more">
                        <div class="sub">
                            <div class="contentPane">
                                <div class="more icono"></div>
                                <div class="desc">More</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="contentPane">
            <div class="sombra" style="opacity: 1; "></div>
            <div class="marco-arriba">
                <div class="esquina-izq">
                    <div class="UDa"></div>
                    <div class="TDa"></div>
                </div>
                <div class="esquina-der">
                    <div class="XDa"></div>
                    <div class="WDa"></div>
                </div>
            </div>
            <div id="contenido">
                <!--
                Aqui se carga cada template
                -->
                {% block contenido %}{% endblock %}
            </div>
            <div class="clear"></div>
        </div>
        <div id="footer">
            <div class="marca">Kodevian S.A.C reservados todos los derechos</div>
        </div>
    </div>
</div>
</body>
</html>