{% extends ext %}
{% block contenido %}
    <div id="Kboard">
        <div id="kboardContent">
            <header>
                <a href="" class="btn"><img src="../../static/img/add.png" alt="">A;adir Columnas</a>
                <a href="" class="btn"><img src="../../static/img/move.png" alt="">Mover Columnas</a>
                <a href="" class="btn"><img src="../../static/img/delete.png" alt="">Quitar Columnas</a>
                <a href="" class="btn"><img src="../../static/img/addTask.png" alt="">Agregar tarea</a>
                <a href="" class="btn"><img src="../../static/img/package.png" alt="">Paketes</a>
            </header>
            <div id="Ktablero">

                <div class="Ktask">

                    <h5>Nombre de columna</h5>
                    <div >
                        <button class="handTask"><img src="../../static/img/move-task.png" alt="" ></button>
                        <h6>titulo</h6>

                        <p>Descripcion</p>
                    </div>
                    <div >
                        <button class="handTask"><img src="../../static/img/move-task.png" alt="" ></button>
                        <h6>titulo</h6>
                        <p>Descripcion</p>
                    </div>

                    <div >
                        <button class="handTask"><img src="../../static/img/move-task.png" alt="" ></button>
                        <h6>titulo</h6>
                        <p>Descripcion</p>
                    </div>
                    <div >
                        <button class="handTask"><img src="../../static/img/move-task.png" alt="" ></button>
                        <h6>titulo</h6>
                        <p>Descripcion</p>
                    </div>
                    <div >
                        <button class="handTask"><img src="../../static/img/move-task.png" alt="" ></button>
                        <h6>titulo</h6>
                        <p>Descripcion</p>
                    </div>

                    <div >
                        <button class="handTask"><img src="../../static/img/move-task.png" alt="" ></button>
                        <h6>titulo</h6>
                        <p>Descripcion</p>
                    </div>

                    <div >
                        <button class="handTask"><img src="../../static/img/move-task.png" alt="" ></button>
                        <h6>titulo</h6>
                        <p>Descripcion</p>
                    </div>
                    <div >
                        <button class="handTask"><img src="../../static/img/move-task.png" alt="" ></button>
                        <h6>titulo</h6>
                        <p>Descripcion</p>
                    </div>

                    <div >
                        <button class="handTask"><img src="../../static/img/move-task.png" alt="" ></button>
                        <h6>titulo</h6>
                        <p>Descripcion</p>
                    </div><div >
                    <button class="handTask"><img src="../../static/img/move-task.png" alt="" ></button>
                    <h6>titulo</h6>
                    <p>Descripcion</p>
                </div>
                    <div >
                        <button class="handTask"><img src="../../static/img/move-task.png" alt="" ></button>
                        <h6>titulo</h6>
                        <p>Descripcion</p>
                    </div>

                    <div >
                        <button class="handTask"><img src="../../static/img/move-task.png" alt="" ></button>
                        <h6>titulo</h6>
                        <p>Descripcion</p>
                    </div>


                </div>

                <div class="Ktask">
                    <h5>Nombre de columna</h5>
                    <div >
                        <button class="handTask"><img src="../../static/img/move-task.png" alt="" ></button>
                        <h6>titulo</h6>
                        <p>Descripcion</p>
                    </div>

                    <div >
                        <button class="handTask"><img src="../../static/img/move-task.png" alt="" ></button>
                        <h6>titulo</h6>
                        <p>Descripcion</p>
                    </div>

                    <div >
                        <button class="handTask"><img src="../../static/img/move-task.png" alt="" ></button>
                        <h6>titulo</h6>
                        <p>Descripcion</p>
                    </div>
                </div>

                <div class="Ktask">

                    <h5>Nombre de columna</h5>
                    <div >
                        <button class="handTask"><img src="../../static/img/move-task.png" alt="" ></button>
                        <h6>titulo</h6>
                        <p>Descripcion</p>
                    </div>

                    <div >
                        <button class="handTask"><img src="../../static/img/move-task.png" alt="" ></button>
                        <h6>titulo</h6>
                        <p>Descripcion</p>
                    </div>

                    <div >
                        <button class="handTask"><img src="../../static/img/move-task.png" alt="" ></button>
                        <h6>titulo</h6>
                        <p>Descripcion</p>
                    </div>
                </div>
            </div>
            <footer>
                <div class="footOp">
                    <div>
                        <h6>Mas Opciones</h6>
                        <p>holas</p>
                    </div>
                </div>

                <div class="footOp">
                    <div>
                        <a href="" class="btn"><img src="../../static/img/add.png" alt="">Option 0</a>
                        <a href="" class="btn"><img src="../../static/img/add.png" alt="">Option 1</a>
                        <a href="" class="btn"><img src="../../static/img/add.png" alt="">Option 2</a>
                        <a href="" class="btn"><img src="../../static/img/add.png" alt="">Option 3</a>
                    </div>
                </div>
                <div class="footOp">
                    <div>
                        <a href="" class="btn"><img src="../../static/img/add.png" alt="">Option 4</a>
                        <a href="" class="btn"><img src="../../static/img/add.png" alt="">Option 0</a>
                        <a href="" class="btn"><img src="../../static/img/add.png" alt="">Option 1</a>
                    </div>
                </div>
                <div class="footOp">
                    <div>
                        <a href="" class="btn"><img src="../../static/img/add.png" alt="">Option 2</a>
                        <a href="" class="btn"><img src="../../static/img/add.png" alt="">Option 3</a>
                        <a href="" class="btn"><img src="../../static/img/add.png" alt="">Option 4</a>
                    </div>
                </div>


            </footer>
        </div>
    </div>

{% endblock %}
