{% extends ext %}
{% block contenido %}
    <div id="grupos">
        <div class="lista-grupos">
            <div class="buscar-client div-oscuro clearfix">
                <span class="icon x-large black icon-div-grande" data-icon="s"></span>

                <div class="nombre-grande">
                    <p class="nombre">Buscar</p>
                </div>
            </div>
            <div class="crear-proyecto div-oscuro clearfix">
                <span class="icon x-large black icon-div-grande" data-icon="p"></span>

                <div class="nombre-grande">
                    <p class="nombre">Crear Nuevo proyecto</p>
                </div>
            </div>
            {% for proyecto in proyectos %}
                <div class="un-grupo" idgroup="{{ proyecto.id }}">
                    <span class="icon x-large darkgray" data-icon="U"></span>

                    <div class="nombre-grupo">
                        <p class="nombre">{{ proyecto.name }}</p>

                        <p class="descripcion">{{ proyecto.company }}</p>
                    </div>
                    <div class="plus1">
                        <img src="../../static/img/plus1.png" width="30px">
                    </div>
                    <div class="mensaje">
                        <p>Ya esta agregado</p>
                    </div>
                </div>
            {% endfor %}
            {% for proyecto in proyectos2 %}
                <div class="un-grupo" otro="1" idgroup="{{ proyecto.id }}">
                    <span class="icon x-large darkgray" data-icon="U"></span>

                    <div class="nombre-grupo">
                        <p class="nombre">{{ proyecto.name }}</p>

                        <p class="descripcion">{{ proyecto.company }}</p>
                    </div>
                    <div class="plus1">
                        <img src="../../static/img/plus1.png" width="30px">
                    </div>
                    <div class="mensaje">
                        <p>Ya esta agregado</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="contenido-derecha">
        <div class="agregado-bien notice success">
            <span class="icon medium" data-icon="C" style="display: inline-block; "></span>
            proyecto agregado correctamente
            <a href="#close" class="icon close" data-icon="x" style="display: inline-block; "></a>
        </div>
        <div class="abandonado-bien notice success">
            <span class="icon medium" data-icon="C" style="display: inline-block; "></span>
            abandonaste el proyecto correctamente
            <a href="#close" class="icon close" data-icon="x" style="display: inline-block; "></a>
        </div>
        <div class="eliminado-bien notice success">
            <span class="icon medium" data-icon="C" style="display: inline-block; "></span>
            proyecto eliminado correctamente
            <a href="#close" class="icon close" data-icon="x" style="display: inline-block; "></a>
        </div>
        <div class="editado-bien notice success">
            <span class="icon medium" data-icon="C" style="display: inline-block; "></span>
            proyecto editado correctamente
            <a href="#close" class="icon close" data-icon="x" style="display: inline-block; "></a>
        </div>
        <div id="contenido-grupo-buscar">
            <div class="form-busqueda clearfix">
                <input type="text" id="nombre" placeholder="Ingrese un nombre para buscar...">
            </div>
            <div class="listado">
                <ul class="alt">
                    {% for cliente in clients %}
                        <li draggable="true" iduser='{{ cliente.user.id }}'>
                            <span class="icon darkgray" data-icon="u"></span>{{ cliente.user.get_full_name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}