<script type="text/javascript">
    $('#enviar_reunion').submit(function () {
        $.ajax({
            method:'GET',
            url:'/projects/crear_reunion/',
            data:{
                'project_id': {{ project }},
                'summary':$('#summary').val(),
                'description':$('#description').val(),
                'initial':$('#initial').val(),
                'end':$('#end').val()
            },
            success:function (data) {
                //$('#Kmostrar').html(data);
                $('#contenido-derecha').html(data);
            }
        });
        return false;
    });
</script>
<p class="titulo">Listado de reuniones</p>
<div class="listado">
    <ul class="alt">
        {% for reunion in reuniones %}
            Resumen
            <li>{{ reunion.summary }}</li>
            Fecha de creaci&oacute;n;
            <li>{{ reunion.date_creation }}</li>
            Descripci&oacute;n
            <li>{{ reunion.description }}</li>
            Fecha de inicio
            <li>{{ reunion.initial }}</li>
            Fecha de fin
            <li>{{ reunion.end }}</li>
            <p>
                ----------------------
            </p>
        {% endfor %}
    </ul>
</div>

<p class="titulo">Crear reuni&oacute;n</p>
<form id="enviar_reunion" class="vertical">
   <section>
       <label>Resumen</label>
       <input type="text" id="summary"/>
       <label>Descripci&oacute;n</label>
       <input type="text" id="description"/>
       <label>Fecha de inicio</label>
       <input type="date" id="initial"/>
       <label>Fecha de fin</label>
       <input type="date" id="end"/>
       <input type="submit" value="enviar"/>
   </section>
</form>