<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <script type="text/javascript" src="../static/js/jquery-1.7.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dock .option').mouseenter(function () {
                $(this).children().children().children().css('background', 'no-repeat url("../static/img/dock/house_go.png")');
            });
            $('#dock .option').mouseleave(function () {
                $(this).children().children().children().css('background', 'no-repeat url("../static/img/dock/house.png")');
            });
        });
    </script>
</head>
<body>
<div id="body">
    <div id="header">
        <div id="marca">
            <a>
                <!--Aqui va el logo de la aplicacion-->
                <img src="../static/img/logo.png" style="height: 70px; width: 420;">
            </a>
        </div>
        <div id="notificaciones"></div>
    </div>
    <div id="header-alt"></div>
    <div id="cuerpo">
        <div id="dock">
            <div id="triangulo"></div>
            <div id="columna">
                <div class="option home">
                    <a href="#home">
                        <div class="contentPane">
                            <div class="icono"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div id="contentPane">
            <div class="sombra" style="opacity: 1; "></div>
            <div class="marco-arriba">
                <div class="esquina-izq">
                    <div class="UDa"></div>
                    <div class="TDa"></div>
                </div>
                <div class="esquina-der">
                    <div class="XDa"></div>
                    <div class="WDa"></div>
                </div>
            </div>
            <div id="contenido">
            </div>
            <div id=""></div>
        </div>
        <div id="footer">
            <div class="marca">Kodevian S.A.C reservados todos los derechos</div>
        </div>
    </div>
</div>
</body>
</html>